<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll" style="width: 200px;">
        <div style="text-align: center; height: 90px; padding-top: 40px;">
            <h1>MyBLOG</h1>
            <div style="margin-top: 10px; ">
                <a href="" style="color: #fff; text-decoration: underline; margin-right: 20px;">登录</a>
                <a href="" style="color: #fff; text-decoration: underline;">注册</a>
            </div>
        </div>
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <% for(var i= 0;i<locals.data.menuList.length;i++){%>
                <% __MENU = locals.data.menuList;%>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="#" title="<%= __MENU[i].name%>">
                        <%= __MENU[i].name%>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <% for(var j= 0;j<__MENU[i].menu.length;j++){%>
                            <dd>
                                <a href="/<%= __MENU[i].menu[j].link%>" title="<%= __MENU[i].menu[j].name%>"><%= __MENU[i].menu[j].name%></a>
                            </dd>
                        <% }%>
                    </dl>
                </li>
            <% }%>
        </ul>
    </div>
</div>